div(class="panel panel-default")
  div.panel-heading
    h4.panel-title Booking
  div.panel-body
    div(class="panel panel-default")
      div.panel-heading
        h4.panel-title Space Info
      div.panel-body
        p Details of the space to be reserved goes here
    div(class="panel panel-default")
      div.panel-heading
        h4.panel-title Your Information
      div.panel-body
        p User info