div(class='panel panel-default')
  div.panel-heading
    h1.panel-title Search Results
  div.panel-body
    div(class="panel panel-default" ng-repeat="workspace in workspaces | orderBy: sortExpression")
      div.panel-heading
        | <h3 class="panel-title">{{workspace._id}}<span class="pull-right panel-title">{{workspace.type}}</span></h3>
      div.panel-body
        div.row
          div.col-sm-4
            p 
              | <u>Location</u>
              | <br>{{workspace.agency}}
              | <br>{{workspace.building}} Building
              | <br>{{workspace.floor}} floor
              | <br>{{workspace.room}}
          div.col-sm-4
            p
              | <u>Rates</u>
              | <br>AM Rate: {{workspace.amRate | currency}}
              | <br>PM Rate: {{workspace.pmRate | currency}}
          div.col-sm-4
            u Inventory
            ul(class="list-unstyled")
              li(ng-repeat="item in workspace.inventory") {{item}}
        a(class="btn btn-md btn-primary pull-right" href="/reserveSpace" role="button") Book it! &raquo
    