div(class="panel panel-default")
 div.panel-heading
    h1.panel-title Filter & Sort
  div.panel-body
    div.row
      div.col-sm-4
        label Sort By:
        select(class="form-control" ng-model="sortExpression")
          option(value="") Any
          option(value="amRate") AM Rate
          option(value="pmRate") PM Rate
      div.col-sm-4
        label Workspace Type:
        select(class="form-control" ng-model="query.type")
          option(value="") Any
          option(value="Cubicle") Cubicle
          option(value="Office") Office
          option(value="Conference Room") Conference room
      div.col-sm-4
        label Location:
        select(class="form-control" ng-model="query.building")
          option(value="") Any
          option(value="Forum Place") Forum Place
          option(value="Keystone") Keystone Building
          option(value="Finance") Finance Building

div(class="panel panel-default")
  div.panel-heading
    h1.panel-title Search Results
  div.panel-body
    div(class="panel panel-default" ng-repeat="workspace in workspaces | orderBy: sortExpression | filter: query")
      div.panel-heading
        div.row
          div.col-sm-4
            h3.panel-title {{workspace._id}}
          div(class="col-sm-8")
            div.pull-right
              | <button type="button" class="btn btn-default btn-xs" ng-click="editSpace()">
              |   <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              | </button>

              | <button type="button" class="btn btn-default btn-xs">
              |   <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              | </button>

      div.panel-body
        div.row
          div.col-sm-4
            p 
              | <u>Location</u>
              | <br>{{workspace.agency}}
              | <br>{{workspace.building}} Building
              | <br>{{workspace.floor}} floor
              | <br>{{workspace.room}}
          div.col-sm-4
            p
              | <u>Rates</u>
              | <br>AM Rate: {{workspace.amRate | currency}}
              | <br>PM Rate: {{workspace.pmRate | currency}}
          div.col-sm-4
            u Inventory
            ul(class="list-unstyled")
              li(ng-repeat="item in workspace.inventory") {{item}}

    