body {
  min-height: 1000px;
  padding-top: 70px;
  background: #0099CC
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

    .ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
    .ng-leave           { animation: slideInRight 0.5s both ease-in; z-index: 9999; }