#masthead {
	background-color: #f78153;
	text-align: center;
	color: #fff;
	margin: 0px;
}

#title {
	font-size: 400%;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

#subtitle {
	font-family: Copperplate,Copperplate Gothic Light,fanta 
}

